@model GAPT.Models.ChangePasswordViewModel
@{
    Layout = null;
}

@*@Scripts.Render("~/bundles/jquery")*@
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="password_old">Old password</label>
                <div>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", required = "required" })
                    <div class="text-danger">
                        @if (Model != null && Model.ErrorMessage != null)
                        {
                            @Model.ErrorMessage
                        }
                    </div>                 
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="password_1">New password</label>
                <div>
                   @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", required = "required"})
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="password_2">Retype new password</label>
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", required = "required"})
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        @*class="form-group"*@ 
        <div class="text-center">
            <button type="submit" class="btn btn-template-main" value="Change password"><i class="fa fa-save"></i> Save new password</button>
            @*<input type="submit" value="Change password" class="btn btn-default" />*@
        </div>
    </div>
}
