@using GAPT.Models
@model ReviewViewModel

<div id="comments-section" class="text-uppercase">
    @if (@Model == null || @Model.Reviews.Count == 0)
    {
        <h5>Currently there are no reviews for this tour. Be the first to leave a review!</h5>
    }
    else
    {
        foreach (var review in Model.Reviews)
        {
            <div class="row comment">
                <div class="col-sm-9 col-md-10">
                    <h5 id="profile-name" class="text-uppercase">@review.Username</h5>
                    <p id="time-of-post@{@review.Id}" class="posted"><i class="fa fa-clock-o"></i> @review.DateTimeCreated</p>
                    @if (@review.RatingId != null && @review.RatingId != 6)
                    {
                        <p class="author-category">
                            @for (int i = 0; i < @review.RatingId; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                            @for (int k = 0; k < 5 - @review.RatingId; k++)
                            {
                                <i class="fa fa-star-o"></i>
                            }
                        </p>
                    }

                    <p id="post-content">
                        @review.Comment
                    </p>
                </div>
            </div>
        <!-- /.comment -->
            <div class="space30"></div>

        }
    }
</div>
@*<h4>1 comment</h4>*@
