@{
    ViewBag.Title = "Tours-Maltin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 style="padding-top:20px;">My wishlist</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">

                    <li>
                        <a href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li>My wishlist</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">

        <div class="row">

            <!-- *** LEFT COLUMN ***
            _________________________________________________________ -->

            <div class="col-md-9 clearfix" style="margin-bottom: 27px;">
                  <div class="row ">
                      <!--Place in for each to show an entry for each item in database-->
                      <div class="row products col-md-12" style="margin:0 auto;">
                          <!--testing start-->
                          <section class="post" style="border: solid 1px #ccc;margin-bottom:20px;margin-top:0.5%;">
                              <div class="row" style="padding-top: 1%;padding-bottom: 1%;padding-left: 1%;padding-right: 1%;">
                                  <div class="col-md-3 col-xs-3">
                                      <div class="image" style="height: 197px;">
                                          <a href="blog-post.html">
                                              <img src="~/Images/rsz_product2.jpg" class="img-responsive" alt="Example blog post alt">
                                          </a>
                                      </div>
                                  </div>
                                  <div class="col-md-9 col-xs-9">
                                      <h2><a href="post.htmls" style="font-size:75%">Title of Tour</a></h2>
                                      <div class="clearfix">
                                          <p class="author-category">
                                              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></i><a href="blog-post.html"> *Insert Number of Reviews*</a>
                                          </p>



                                      </div>
                                      <p class="intro">
                                          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                                      </p>
                                      <p class="intro" style="margin-bottom: 0px;margin-top: 0px;font-size: 13px;">
                                          Duration:    <span style="float:right;padding-right: 6%;">Price:&nbsp;€<strong style="font-size:20px;">15.00</strong></span>
                                      </p>

                                      <p class="read-more" style="padding-top:1%;">
                                          <a href="@Url.Action("Tourpage","Home")" class="btn btn-template-main hidden-sm hidden-xs" style="float:right;border-radius:5px;margin-right:6%;">See More <i class="fa fa-arrow-right"></i></a>
                                          <a href="@Url.Action("Wishlist","Home")" class="center-btn-sm" style="text-align:left;float:left;"><i class="fa fa-times"></i>Remove from Wishlist</a>
                                          <a href="@Url.Action("Tourpage","Home")" class="center-btn-sm visible-sm visible-xs" style="float:right; padding-right:4.5%;">See More<i class="fa fa-arrow-right"></i></a>
                                      </p>
                                  </div>
                              </div>
                          </section>
                          <!--testing end-->
                      </div>

                      <div class="row products col-md-12" style="margin:0 auto;">
                          <!--testing start-->
                          <section class="post" style="border: solid 1px #ccc;margin-bottom:20px;margin-top:0.5%;">
                              <div class="row" style="padding-top: 1%;padding-bottom: 1%;padding-left: 1%;padding-right: 1%;">
                                  <div class="col-md-3 col-xs-3">
                                      <div class="image" style="height: 197px;">
                                          <a href="blog-post.html">
                                              <img src="~/Images/rsz_product2.jpg" class="img-responsive" alt="Example blog post alt">
                                          </a>
                                      </div>
                                  </div>
                                  <div class="col-md-9 col-xs-9">
                                      <h2><a href="post.htmls" style="font-size:75%">Title of Tour</a></h2>
                                      <div class="clearfix">
                                          <p class="author-category">
                                              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></i><a href="blog-post.html"> *Insert Number of Reviews*</a>
                                          </p>



                                      </div>
                                      <p class="intro">
                                          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                                      </p>
                                      <p class="intro" style="margin-bottom: 0px;margin-top: 0px;font-size: 13px;">
                                          Duration:    <span style="float:right;padding-right: 6%;">Price:&nbsp;€<strong style="font-size:20px;">15.00</strong></span>
                                      </p>

                                      <p class="read-more" style="padding-top:1%;">
                                          <a href="@Url.Action("Tourpage","Home")" class="btn btn-template-main hidden-sm hidden-xs" style="float:right;border-radius:5px;margin-right:6%;">See More <i class="fa fa-arrow-right"></i></a>
                                          <a href="@Url.Action("Wishlist","Home")" class="center-btn-sm" style="text-align:left;float:left;"><i class="fa fa-times"></i>Remove from Wishlist</a>
                                          <a href="@Url.Action("Tourpage","Home")" class="center-btn-sm visible-sm visible-xs" style="float:right;">See More<i class="fa fa-arrow-right"></i></a>
                                      </p>
                                  </div>
                              </div>
                          </section>
                          <!--testing end-->
                      </div>
                </div>
                <!-- /.products -->

            </div>
            <!-- /.col-md-9 -->
            <!-- *** LEFT COLUMN END *** -->
            <!-- *** RIGHT COLUMN ***
                         _________________________________________________________ -->

            <div class="col-md-3">
                <!-- *** CUSTOMER MENU ***
                _________________________________________________________ -->
                <div class="panel panel-default sidebar-menu" style="padding-top:1%;padding-left:1%;padding-right:1%;">

                    <div class="panel-heading">
                        <h3 class="panel-title">Customer section</h3>
                    </div>

                    <div class="panel-body">

                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="@Url.Action("UserPortal","Home")"><i class="fa fa-list"></i> My orders</a>
                            </li>
                            <li class="active">
                                <a href="@Url.Action("Wishlist","Home")"><i class="fa fa-heart"></i> My wishlist</a>
                            </li>
                            <li>
                                <a href="@Url.Action("MyAccount","Home")"><i class="fa fa-user"></i> My account</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Home")"><i class="fa fa-sign-out"></i> Logout</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /.col-md-3 -->
                <!-- *** CUSTOMER MENU END *** -->
            </div>

            <!-- *** RIGHT COLUMN END *** -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
