@model GAPT.Models.VerifyCodeViewModel
@{
    ViewBag.Title = "Verify Code";
}



<div class="box info-bar" style="margin-top:0.5%;">
    <div style="text-align:center;">
        <div class="heading">
            <h3 class="text-uppercase">@ViewBag.Title</h3>
        </div>

        @using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("provider", @Model.Provider)
            @Html.Hidden("rememberMe", @Model.RememberMe)
            <div class="panel-heading">
                <h3 class="panel-title">Type in code</h3>
            </div>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })


           
            @Html.TextBoxFor(m => m.Code, new { autocomplete = "off"})






            <input type="submit" class="btn btn-template-main" value="Submit" />

        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

